$white : #fff;
$green : #399e2f;
$primary_color : #8ed1fc;
$light_gray : #efefef;
$light_gray2 : rgba(255, 255, 255, 0.5);
$light_gray_border :#888 ;
$gray : rgba(93, 144, 216, 0.11);
$dark_gray : #444;
$black : #000;
$light_blue : rgba(93, 144, 216, 0.11);

