.cta-box {
    text-align: center;
    background-color: $primary_color;
    max-width:700px;
    margin: auto;
    border-radius: 5px;
    padding: 30px 0;
    margin-bottom: 100px;
    p {
      margin-bottom: 20px;
    }
  } 
  
  .cta-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .cta-btn {
    background-color: $white;
    padding: 10px 30px;
    border-color: 1px solid $dark_gray;
    border-radius: 5px;
    font-size: $btn-font-size;
    color: $black;
    text-decoration: none;
  }