.price-section {
  position: relative;
  margin-bottom: 100px;
}

.off {
  color: $white;
  background-color: $green;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -49px;
  animation-name: off-anim;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}

@keyframes off-anim {
  0% {
    left: 0;
    opacity: 0;
  }
  50% {
    left: 40%;
    opacity: 1;
    transform: rotate(1turn);
  }
  100% {
    left: 80%;
    opacity: 0;
    transform: rotate(2turn);
  }
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 50px;
  td,
  th {
    padding: 5px 0;
    text-align: center;
    border: 1px solid $light_gray_border;
  }
  th,
  tfoot td,
  tr td:first-child {
    background-color: $light_gray;
  }
}
